@model RealEstateProject.Models.Image

@{
    ViewBag.Title = "Edit";
}


<div class="container mb-3 d-flex flex-row">
    <a href="~/Images/Index" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: black ">Back to All Images</a>
</div>

@if(Model.Property != null)
{
    <div class="container mb-3 d-flex flex-row">
        <a href="~/Images/Index/@Model.Property.Id" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: black ">Back to Images For Property with Id: @Model.Property.Id</a>
    </div>
}

<body style=background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;>
    <form method="post" action="/Images/Edit/@Model.Id">

        <div class="container rounded bg-white mt-5">
            <div class="row" style="background-color: #F2F3F4">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" src="https://graphicsfamily.com/wp-content/uploads/edd/2020/04/house-apartment-logo-green-Transparent-1.png" width="90">

                        <span>Macedonia</span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex flex-row align-items-center back">
                                <i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                                <h6>Update Image</h6>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="ImageURL"></label>
                                <input required value="@Model.ImageURL" type="text" class="form-control" placeholder="Update ImageURL" name="ImageURL">
                            </div>



                            <div class="mt-5 text-right">
                                <button class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: black">
                                    Update Image
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
