@model IEnumerable<RealEstateProject.Models.Image>

@{
    ViewBag.Title = "Index";
}


@if (ViewBag.Id == null && (User.IsInRole("Admin")))
{

    <div class="container mb-3 d-flex flex-row">
        <a href="~/Images/Create" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: black ">Add new Image </a>
    </div>
}
@if (ViewBag.Id != null && (User.IsInRole("Admin") || User.IsInRole("Agent")) && Model.Count() != 0)
{
    <div class="container mb-3 d-flex flex-row">
        <a href="~/Properties/Edit/@ViewBag.Id" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: black ">Finish Update </a>
    </div>
    <div class="container mb-3 d-flex flex-row">
        <a href="~/Images/Create/@ViewBag.Id" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: black ">Add another Image</a>
    </div>
}
@if (ViewBag.Id != null && (User.IsInRole("Admin") || User.IsInRole("Agent")) && Model.Count() == 0)
{
    <div class="container mb-3 d-flex flex-row">
        <a href="~/Images/Create/@ViewBag.Id" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: black ">Add another Image</a>
    </div>
}
<div class="container mb-3 d-flex flex-row">
    <div class="row mb-2 w-100">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="row g-0 border rounded flex-nowrap w-100 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Property:</strong>
                        <h3 class="mb-0">@item.Property.Name</h3>

                        <br />
                        <strong class="d-inline-block mb-2 text-primary-emphasis">Property Id:</strong>
                        <h6 class="mb-0">@item.Property.Id</h6>

                        @if (ViewBag.Id == null && User.IsInRole("Admin"))
                        {

                            <strong class="d-inline-block mb-2 text-primary-emphasis">Actions</strong>
                            <div class="d-flex justify-content-start">
                                <a href="~/Images/Edit/@item.Id" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: white; width: 3em; margin-right: 0.2em">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                    </svg>
                                </a>


                                <a href="~/Images/Delete/@item.Id" class="btn btn-danger" style="width: 3em; margin-right: 0.2em">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />

                                    </svg>
                                </a>
                            </div>
                        }
                        @if (ViewBag.Id != null && (User.IsInRole("Agent") || User.IsInRole("Admin")))
                        {

                            <strong class="d-inline-block mb-2 text-primary-emphasis">Actions</strong>
                            <div class="d-flex justify-content-start">
                                <a href="~/Images/Edit/@item.Id" class="btn btn-primary" style="background-color: #00deb6; border-color: #00deb6; color: white; width: 3em; margin-right: 0.2em">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                    </svg>
                                </a>


                                <a href="~/Images/Delete/@item.Id" class="btn btn-danger" style="width: 3em; margin-right: 0.2em">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />

                                    </svg>
                                </a>

                            </div>

                        }
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="@item.ImageURL" width="350" height="260" />
                        @*<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#ded3d4" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>*@
                    </div>
                </div>


            </div>
        }
    </div>
</div>
